.header {
  position: fixed;

  top: 0;
  right: 0;
  left: 0;

  z-index: 50;

  display: flex;
  justify-content: center;

  padding: 40px 20px 30px;

  background: linear-gradient(
    to bottom,
    var(--app-bg) 20%,
    var(--app-bg) 65%,
    transparent 90%
  );

  pointer-events: none;
}

.title {
  margin: 0;

  text-align: center;
  font-size: 28px;

  background: var(--app-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}